
#colors{
  background-color: #556ee6;
  color: white;
  margin: auto;
}

.testTotal{
  margin: auto;
}
.background-light{
  width: 70%;
}
.detail{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
