<div class="container-fluid">

  <div class="row">
    <div class="col-md-8" *ngIf="formGroup">

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="example-text-input" class="col-md-2 col-form-label">Titre</label>
          <div class="col-md-10">
            <input class="form-control" formControlName="title" type="text"  id="example-text-input">
          </div>
        </div>


        <div class="form-group row">
          <label for="image"  class="col-md-2 col-form-label">image:</label>
          <div class="col-md-10  ">
            <input type="file" name="image" id="image" formControlName="image_url" class="form-control">
            <button type="button" id="upload" (click)="upload()"  >upload image</button>
          </div>
        </div>

        <div class="form-group row">
          <label for="category" class="col-md-2 col-form-label">Category</label>
          <div class="col-md-10">
            <input type="number" formControlName="category" class="form-control" id="category" style="cursor: pointer">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-md-2 col-form-label">Contenu</label>
          <div class="col-md-10">
            <ckeditor [editor]="Editor" class="form-control" formControlName="content" ></ckeditor>
          </div>
        </div>
        <div class="mt-10">
          <button type="submit" class="btn " style="background-color:#0099f7;color: white ">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
