.blogs {
  font-size: 20px;
  font-weight: bold;
}

.myRow {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid white;
  box-shadow:  1px 1px 12px #c8ced3;
}
.myTitle{
  width: 100%;
  height: 80px;
  font-size: 20px;
  background-color: #0099f7;
  display: flex;
}
.myTitle >h1{
  color: white;
}
.myTitle >div{
  text-align: right;
  color: white;
}
.responsive{
  width: 100%;
  height: auto;
}
.category{
  float: right;
}
