<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body background-light">

        <div class="row">

          <div class="col-md-4">
            <app-stat [title]="statDataEmployee.title" [value]="statDataEmployee.value" [icon]="statDataEmployee.icon">
            </app-stat>
          </div>
          <div class="col-md-4">
            <app-stat [title]="statDataCAM.title" [value]="statDataCAM.value +'€'" [icon]="statDataCAM.icon"></app-stat>
          </div>
          <div class="col-md-4">
            <app-stat [title]="statDataCA.title" [value]="statDataCA.value +'€' " [icon]="statDataCA.icon"></app-stat>
          </div>
        </div>

        <button class="btn btn-primary" (click)="export()">export</button>


        <h4 class="card-title">Liste des sociétés</h4>
        <div class="table-responsive" #TABLE>
          <table class="table table-nowrap table-hover mb-0 excel">
            <thead>
              <tr id="colors">
                <th class="text-wrap" sortable="name" (sort)="onSort($event)">Nom</th>
                <th class="text-wrap" sortable="userAmount" (sort)="onSort($event)">Nombre d'Utilisateurs Enregistrés
                </th>
                <th class="text-wrap" sortable="SocialMediaActivity" (sort)="onSort($event)"> Taux D'activité des
                  Employés sur le Réseau Social</th>
                <th class="text-wrap" sortable="monthlyMRR" (sort)="onSort($event)">Chiffre d'Affaires par mois</th>
                <th class="text-wrap" sortable="createdSince" (sort)="onSort($event)">Nombre de jours Dépuis la Création
                  du Compte</th>
                <th class="text-wrap" sortable="nbPolls" (sort)="onSort($event)">Nombre de sondage</th>
                <th class="text-wrap" sortable="pollAnswersRate" (sort)="onSort($event)">Taux de Reponse Au Sondage</th>
                <th class="text-wrap" sortable="contractedCustomer" (sort)="onSort($event)">Contrat Signé</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let company of companies;">
                <a routerLink="/profileCompany/{{company.companyId}}">{{company.name}}</a>
                <td>{{company.userAmount}}</td>
                <td>
                  <span
                    [ngClass]="company.SocialMediaActivity < globals.activity? 'text-danger': 'text-secondary'">{{company.SocialMediaActivity}}%</span>
                </td>
                <td>{{company.monthlyMRR}} €</td>
                <td [ngClass]="company.createdSince <= globals.Jours? 'text-danger':'text-secondary'">
                  {{company.createdSince }} Jours</td>
                <td>{{company.nbPolls }}</td>
                <td>{{company.pollAnswersRate == 'NaN'? '':company.pollAnswersRate}}%</td>
                <td>

                  <select class="browser-default custom-select"
                    [ngClass]="company.active ==true? ' text-secondary':'text-danger'">
                    <option selected>
                      {{company.active ==true? 'oui' : 'non'}}
                    </option>
                    <option (click)="onUpdate(company.companyId , true)">
                    </option>
                    <option (click)="onUpdate(company.companyId ,false)">
                    </option>
                  </select>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>